/* featured css */
.featured__title {
  font-size: var(--size-2xl);
  color: var(--clr-light);
  text-align: center;
  /* text-transform: uppercase; */
}

.feature__subtitle {
  font-size: var(--size-sm);
  color: var(--clr-indigo);
  text-transform: capitalize;
  font-weight: 400;
}

.featured__wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.featured__link {
  width: var(--size-2xl);
  height: var(--size-2xl);
}

.featured__description {
  color: var(--clr-slate600);
  font-size: var(--size--sm);
  margin: 1rem 0;
}

.featured__project-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.featured__project-info>div>h3 {
  font-size: var(--size-sm);
  color: var(--clr-indigo);
}

.featured__project-info>div>p {
  color: var(--clr-slate600);
  font-size: var(--size--sm);
}

.featured__images {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  margin: 1rem auto;
}

.image-container {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  transition: 0.5s;
}

.zoomable-image {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.featured__images-img {
  border-radius: 5px;
  width: 100%;
  transition: transform 0.5s, filter 0.3s;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s;
  border-radius: 5px;
}

.overlay-text {
  color: white;
  font-size: 1.2rem;
  text-align: center;
}

.image-container:hover .featured__images-img {
  transform: scale(1.1);
  filter: grayscale(50%);
}

.image-container:hover .overlay {
  opacity: 1;
}



/* Media Queries */
/* xxs */
@media (min-width: 280px) {
  .featured__title {
    text-align: left;
  }

  .featured__wrapper {
    gap: 0.75rem;
    font-size: var(--size--sm);
  }

  .featured__title {
    font-size: var(--size-sm);
  }
}

/* xs */
@media (min-width: 475px) {
  .feature__subtitle {
    font-size: var(--size-base);
  }

  .featured__title {
    font-size: var(--size-3xl);
  }

  .featured__link {
    width: var(--size-3xl);
    height: var(--size-3xl);
  }

  .featured__project-info>div>h3 {
    font-size: var(--size-base);
  }

  .featured__project-info>div>p {
    font-size: var(--size--base);
  }

  .featured__images {
    gap: 1rem;
  }
}

/* sm */
@media (min-width: 640px) {
  .featured__description {
    font-size: var(--size--base);
    margin: 1.5rem 0;
  }
}

/* lg */
@media (min-width: 1024px) {
  .feature__subtitle {
    font-size: var(--size-lg);
  }

  .featured__title {
    font-size: var(--size-4xl);
  }

  .featured__link {
    width: var(--size-4xl);
    height: var(--size-4xl);
  }

  .featured__description {
    font-size: var(--size--lg);
  }

  .featured__project-info>div>h3 {
    font-size: var(--size-lg);
  }

  .featured__project-info>div>p {
    font-size: var(--size--base--size-lg);
  }

  .featured__images {
    flex-direction: row;
    gap: 1rem;
  }

  .featured__images>a>img:hover {
    filter: none;
  }
}

/* xl */
@media (min-width: 1280px) {
  .feature__subtitle {
    font-size: var(--size-xl);
  }

  .featured__title {
    font-size: var(--size-5xl);
  }

  .featured__link {
    width: var(--size-5xl);
    height: var(--size-5xl);
  }

  .featured__description {
    font-size: var(--size--xl);
    margin: 2rem 0;
  }

  .featured__project-info>div>h3 {
    font-size: var(--size-xl);
  }

  .featured__project-info>div>p {
    font-size: var(--size-xl);
  }
}